.jumbotron {
  padding-top: 6rem;
  background-color: #d9ffdc;
}

#projects {
  background-color: #d9ffdc;
}

#aktivitas {
  background-color: #d9ffdc;
}

#contact {
  background-color: #d9ffdc;
}

section {
  padding-top: 5rem;
}
